@import 'open-props/postcss/style';
@import 'open-props/postcss/normalize';
@import 'open-props/postcss/buttons';
@import 'open-props/switch/light';
@import 'open-props/switch/dark';

:root {
    --text-3: var(--gray-7);

    @media (prefers-color-scheme: dark) {
        --text-3: var(--gray-6);
    }
}

body {
    --space-away: var(--size-3);
    --space-near: calc(var(--size-2) / 2);

    @media (--lg-n-above) {
        --space-away: var(--size-fluid-3);
        --space-near: calc(var(--size-fluid-2) / 2);
    }
}

@custom-selector :--density-shift-1 .score, .input-wrapper;

:--density-shift-1 {
    --space-away: calc(var(--size-fluid-2) / 4);
    --space-near: calc(var(--size-fluid-2) / 6);
}

svg {
    fill: currentColor;
    inline-size: var(--size-6);
}

main {
    --padding-edge: max(var(--size-3), var(--space-away));
}

@custom-selector :--card ouput;

:--card {
    border: var(--border-size-1) solid var(--surface-4);
    border-radius: var(--radius-2);
    padding: var(--space-near);
}

@custom-selector :--scroll-snap-y .tabs;

:--scroll-snap-y {
    --gap: var(--space-near);
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 100%;
    /* gap: var(--gap); */

    overflow-y: auto;
    overscroll-behavior-block: contain;
    scroll-snap-type: block proximity;
    /* scroll-padding-block: var(--gap); */

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

@custom-selector :--scroll-snap-x ul.score-board;

:--scroll-snap-x {
    --gap: var(--space-near);
    display: flex;
    gap: var(--gap);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--gap);

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

.stack {
    display: grid;
    gap: var(--space-near);
}

.input-wrapper {
    display: grid;

    &:has([type='checkbox']) {
        grid-template: 'label checkbox' / 1fr auto;
    }
}

.input-description {
    font-size: var(--font-size-0);
    color: var(--text-3);
    display: block;
}

main {
    min-block-size: 100vh;
    block-size: 100vh;
    overflow: hidden;
    display: grid;
    grid: "header" auto
          [overlay-start] "canvas" 1fr
          "output" auto [overlay-end]
          / [overlay] 1fr;
    gap: var(--space-away);
    justify-items: center;

    & > * {
        min-block-size: 0;
    }

    @media (--lg-n-above) {
        grid: "canvas header header" auto
              "canvas output aside" 1fr
              / 2fr auto 1fr;
        justify-items: start;
    }
}

header {
    grid-area: header;
    padding: var(--space-near);
    padding-block-end: 0;

    @media (--lg-n-above) {
        padding: 0;
        padding-block-start: var(--space-away);
        padding-inline-end: var(--space-away);
    }
}

.board {
    grid-area: canvas;
    inline-size: 100%;
    margin-inline: auto;
    padding-inline: var(--space-near);

    @media (--lg-n-above) {
        padding-inline: 0;
    }
}

canvas {
    max-inline-size: 100%;
    max-block-size: 100%;
    block-size: 100%;
    margin-inline: auto;
    padding: 0;
    background-color: var(--surface-2);
    border-radius: var(--radius-2);

    /* @media (--landscape) {
        aspect-ratio: 1/1;
    } */

    @media (--lg-n-above) {
        border-radius: 0;
        margin-inline: 0;
    }
}

aside {
    grid-column: overlay;
    grid-row: overlay-start / overlay-end;

    @media (--lg-n-above) {
        grid-area: aside;
    }

    display: flex;
    flex-direction: column;
    position: relative;
    gap: var(--space-near);

    max-inline-size: min(var(--size-content-3), 100%);
    min-block-size: 0;
    block-size: 100%;
    overflow-y: auto;
    background-color: var(--surface-1);
    border-start-start-radius: var(--radius-3);
    border-start-end-radius: var(--radius-3);
    box-shadow: var(--shadow-5);
    border: var(--border-size-1) solid var(--surface-2);

    transition: 0.3s ease;
    will-change: transform;
    transform: translateY(0%);

    @media (--lg-n-above) {
        box-shadow: none;
        border: 0;
        padding-block-start: 0;
        border-radius: 0;

        padding-inline-end: var(--space-away);
        padding-block-end: var(--space-away);
    }

    &:not(.isOpen) {
        transform: translateY(100%);

        @media (--lg-n-above) {
            transform: translateY(0%);
        }
    
        /* & .config-form {
            display: none;
        }
    
        & .player-form {
            overflow-x: hidden;
        } */
    }
}

.tabs {
    block-size: 100%;
    scroll-padding-inline-start: 0;
    scroll-behavior: smooth;
}

.tab {
    inline-size: 100%;
    padding-inline: var(--padding-edge);
    padding-block: var(--space-away);

    @media (--lg-n-above) {
        padding-block-start: 0;
        padding-inline: var(--space-near);
    }

    scroll-snap-align: start;
    overscroll-behavior-y: contain;

    & h2 {
        margin-block-end: var(--space-near);
        font-weight: var(--font-weight-6);
        font-size: var(--font-size-4);
    }
}

nav {
    background-color: var(--surface-1);
    display: flex;
    align-items: center;
    gap: var(--space-away);
    /* padding-block-end: env(safe-area-inset-bottom, 16px); */
    padding-inline: var(--padding-edge);
    padding-block-end: var(--padding-edge);

    @media (--lg-n-above) {
        padding-inline: 0;
        padding-block-end: 0;
    }

    & a {
        display: grid;
        justify-items: center;
        gap: var(--space-near);
        font-weight: var(--font-weight-6);
        block-size: 100%;

        & img {
            block-size: var(--size-6);
        }
    }

    & button {
        margin-inline-start: auto;
    }
}

output {
    grid-area: output;
    inline-size: 100%;
    padding-inline: var(--padding-edge);
    padding-block-end: var(--space-away);
    /* padding-block-end: env(safe-area-inset-bottom, 16px); */

    @media (--lg-n-above) {
        padding-inline: 0;
    }

    & ul.score-board {
        background-color: var(--surface-1);
        padding: 0;
        list-style: none;
        /* padding: var(--space-near); */

        @media (--lg-n-above) {
            flex-direction: column;
        }
    }

    & li {
        padding: 0;
        scroll-snap-align: start;
        flex-shrink: 0;
        display: grid;
        align-items: start;
        gap: var(--space-near);

        & > span {
            overflow: hidden;
            max-inline-size: 12ch;
            font-weight: var(--font-weight-6);
            font-size: var(--font-size-0);
            min-block-size: var(--size-5);
            text-align: center;
            text-overflow: ellipsis;
        }
    }
}

li:has(> .toggle) {
    margin-inline-start: auto;
}

.toggle {
    @media (--lg-n-above) {
        display: none;
    }
}

form.player-form {
    display: grid;
    gap: var(--space-near);
}

fieldset {
    --fieldset-gap: calc(var(--space-away) / 2);
    display: flex;
    flex-wrap: wrap;
    gap: var(--fieldset-gap);

    & label[for*='color'] {
        color: transparent;
    }

    & > .input-wrapper {
        flex: 1 1 var(--size-8);
    }

    & > .input-wrapper.name {
        flex: 2 1 var(--size-12);
    }

    & > .controls {
        flex: 1 1 calc(var(--size-8) * 2);
        display: flex;
        gap: var(--fieldset-gap);
    }
}

input {
    inline-size: 100%;
}
