@import "open-props/postcss/style";
@import "open-props/postcss/normalize";
@import "open-props/postcss/buttons";

@custom-selector :--min-aside fieldset, .score, .action-main, .toggle, h1, .total-score;

main {
    --size-base: var(--size-fluid-2);
    --size-minified-aside: var(--size-fluid-7);
    --padding-minified-aside: calc(var(--size-base) * 1.5);
    inline-size: 100%;
    block-size: 100vh;
    display: grid;
    grid: [main aside score-board] 1fr
    / [main-start] 11fr [aside-start] max-content [main-end score-board] var(--size-minified-aside) [aside-end];

    & > * {
        min-inline-size: 0;
    }

    /* @media (--md-n-above) {
        & > :is(section, aside) {
            grid-area: stack;
        }
    } */
}

section {
    grid-row: main;
    grid-column: main-start / main-end;
}

canvas {
    block-size: 100%;
    aspect-ratio: 1/1;
    background-color: var(--surface-1);
    /* border: 1px solid var(--surface-4); */
    box-shadow: var(--inner-shadow-4);
}

aside {
    grid-row: aside;
    grid-column: aside-start / aside-end;

    display: grid;
    grid-template-rows: auto 1fr auto;

    min-inline-size: 0;
    min-block-size: 0;
    background-color: var(--surface-1);
    border-inline-start: var(--border-size-1) solid var(--surface-4);

    transition: transform 0.3s ease;
    will-change: transform;
    transform: translateX(0%);

    & > * {
        min-block-size: 0;
    }

    &:not(.isOpen):not(:focus-within) {
        transform: translateX(0%);
        & :is(:--min-aside) {
            grid-area: stack;
        }
    }
}

/* ---------- HEADER ---------- */
header {
    display: grid;
    grid-template-columns: 1fr [stack] var(--size-minified-aside);
}

h1 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: left;
    white-space: nowrap;
}

h1, .total-score {
    padding: var(--size-base);
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-1);
    line-height: var(--font-lineheight-1);
    text-align: center;
}

.total-score {
    background-color: var(--surface-1);
}

/* ---------- PLAYERS FORM ---------- */
form {
    overflow-y: auto;
}

.player-row {
    display: grid;
    grid-template-columns: max-content [stack] var(--size-minified-aside);
    border-block-start: var(--border-size-1) solid var(--surface-4);

    &:last-child {
        border-block-end: var(--border-size-1) solid var(--surface-4);
    }
}

fieldset {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    gap: calc(var(--size-base) / 2);
    border-radius: 0;
    border: 0;

    & [name*="color"] {
        margin-block-start: var(--size-5);
        block-size: var(--size-7);
    }

    & [name*="controls"] {
        inline-size: var(--size-9);
    }
}

.input-wrapper {
    display: grid;
}

.score {
    display: grid;
    place-items: center;
    inline-size: 100%;
    background-color: var(--surface-1);

    & > span {
        margin-block-start: var(--size-1);
        min-inline-size: 100%;
        display: inline-block;
        /* border-radius: var(--radius-round); */
        min-block-size: var(--size-5);
        font-size: var(--font-size-1);
        text-align: center;

        &:empty {
            border-bottom: var(--border-size-2) dotted var(--surface-2);
        }
    }
}

fieldset, .score {
    padding-inline: var(--size-base);
    padding-block: calc(var(--size-base) / 2);
}

/* ---------- ACTION BAR ---------- */
.action-bar {
    display: grid;
    grid-template-columns: 1fr [stack] var(--size-minified-aside);

    border-block-start: var(--border-size-1) solid var(--surface-4);

    & button {
        inline-size: 100%;
        border-radius: 0;
        border: 0;
        padding: var(--size-base);
    }
}

.action-main {
    display: flex;
}

.start {
    border-inline-start: var(--border-size-1) solid var(--surface-4);
}

.toggle {
    position: relative;
    z-index: 2;
}
