@import "https://unpkg.com/open-props/src/index.css";
@import "https://unpkg.com/open-props/src/extra/normalize.css";

html, body {
  background-color: var(--surface-1);
}

main {
  inline-size: 100%;
  min-block-size: 100vh;
  display: grid;
  grid:
    "header header" auto
    "canvas menu" 1fr
    / 1fr auto;
}

header {
  grid-area: header;
}

canvas {
  inline-size: 100%;
  block-size: 100%;
  aspect-ratio: 1/1;
  grid-area: canvas;
  background-color: var(--gray-4);
}

menu {
  grid-area: menu;
}