@import "open-props/postcss/style";
@import "open-props/postcss/normalize";

html,
body {
    background-color: var(--surface-1);
}

main {
    inline-size: 100%;
    block-size: 100vh;
    display: grid;
    padding: var(--size-3);
    gap: var(--size-3);
    background-color: var(--gray-8);
    grid:
        'header header' auto
        'canvas menu' 1fr
        / auto 1fr;

    & > * {
        min-inline-size: 0;
    }
}

header {
    grid-area: header;
}

.canvas-wrapper {
    grid-area: canvas;
    background-color: var(--gray-8);
}

canvas {
    block-size: 100%;
    aspect-ratio: 1/1;
    background-color: var(--gray-10);
    border: 1px solid var(--gray-7);
    box-shadow: var(--shadow-3);
}

aside {
    grid-area: menu;
    /* background-color: var(--gray-9); */
    box-shadow: var(--shadow-3);
    border: inset 1px solid var(--gray-7);
    padding: var(--size-1);
}

.input-wrapper {
    display: grid;
}

form {
    display: grid;
    gap: var(--size-2);
}

.player-row {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: end;
    gap: var(--size-3);
    padding: var(--size-3);
    background-color: var(--surface-2);

    /* & > * {
        min-inline-size: 0;
    } */

    & [type="color"] {
        /* block-size: 100%; */
    }

    & [name*="controls"] {
        inline-size: var(--size-9);
    }
}